---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../types/pokemon-list.response";
import MainLayout from "../../layouts/MainLayout.astro";
import Pokemon from "../../components/Pokemon.astro";

// interface Params {
//   name: string;
// }

export const getStaticPaths = (async () => {
  async function getPokemonList(limit = 151) {
    const urlApi = `https://pokeapi.co/api/v2/pokemon?limit=${limit}`;
    const response = await fetch(urlApi);
    const data = (await response.json()) as PokemonListResponse;

    return data.results;
  }

  const pokemonList = await getPokemonList();

  const result = pokemonList.map((pokemon) => {
    return {
      params: { name: pokemon.name },
      props: { ...pokemon },
    };
  });

  return result;
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split("/").at(-2);

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title={name ?? ""}>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div class="w-[100%] relative">
      <a href="/">Come back</a>
      <h1 class="text-5xl capitalize mb-2">{name}</h1>
      <span class="text-gray-400 right-2 bottom-2 absolute">[ {id} ]</span>
    </div>
    <Pokemon name={name} url={url} />

    <audio controls class="mt-5">
      <source src={audioSrc} />
      Your browser does not support the audio element.
    </audio>
  </section>
</MainLayout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }
</style>
